<%- include('./partials/nav') %>

 <!-- <h1> Edit a Movie </h1>
    <form action="/movies/:id/edit" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

       
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre">

        <label for="releaseYear">Release Year:</label>
        <input type="number" id="releaseYear" name="releaseYear">
        <button type="submit">Add Movie</button>
    </form>
</body>
</html> -->