<%- include('./partials/nav') %>

<h1> All Movies </h1>
    <% allMovies.forEach((item) => { %>
        <ul>
            <a href="/movies/<%= item._id %>">
            <li><p>Title: <%= item.name %></p></li>
                
           
        </a>
        </ul>
          
       
        
        
   <% }) %>

    
</body>
</html>